.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 60px; /* from 56px to 60px */
  height: 26px; /* from 20px to 26px */
  padding: 3px;
  margin-bottom: 0;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eee, white 25px);
  background-image: -moz-linear-gradient(top, #eee, white 25px);
  background-image: -o-linear-gradient(top, #eee, white 25px);
  background-image: linear-gradient(to bottom, #eee, white 25px);
}

.switchInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switchLabel {
  position: static; /* from relative to static */
  display: block;
  height: 20px; /* from inherit to 18px */
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}

.switchLabel::before,
.switchLabel::after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.switchLabel::before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switchLabel::after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switchInput:checked ~ .switchLabel {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switchInput:checked ~ .switchLabel::before {
  opacity: 0;
}

.switchInput:checked ~ .switchLabel::after {
  opacity: 1;
}

.switchHandle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switchHandle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eee, white);
  background-image: -moz-linear-gradient(top, #eee, white);
  background-image: -o-linear-gradient(top, #eee, white);
  background-image: linear-gradient(to bottom, #eee, white);
}

.switchInput:checked ~ .switchHandle {
  left: 38px; /* from 40px to 38px */
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switchBlue > .switchInput:checked ~ .switchLabel {
  background: #1568b8;
}
